.square{
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  height: 40px;
  padding: 0;
  text-align: center;
  width: 40px;
}

#square-one{
  border-top-left-radius: 10px;
}

#square-four{
  border-bottom-right-radius: 10px;
}

.board-row{
    overflow: hidden;
    button{
      font-family:"Permanent Marker",cursive;
    }
}

span{
  display: inline-block;
}
#right{
  font-family: 'Pacifico',cursive;
}

.navbar{
    position: relative;
    top:5%;
}